body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container-name div {
  display: inline-block;
width: 193px;
min-height: 50px;
height: auto;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.ReactTable .rt-thead .rt-tr {
  text-align: center;
  background-color: #4285f4 !important;
}
.ReactTable .rt-thead .rt-resizable-header-content {
  color: #f5eeee!important;
}
.ReactTable.-striped .rt-tr.-odd {
  background: rgba(178, 182, 230, 0.52)!important;
}
.ReactTable .-pagination .-btn {
  width: 20%;
  background: rgb(215, 217, 242);
}

